<a href="https://colab.research.google.com/github/geethango/baseline_model/blob/main/beseline_model_difference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd 
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
scaler = StandardScaler()

## **`MATCHUP DATA REGULAR SEASON 2011_12 `**

In [31]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2011_12_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2011_12=pd.read_csv(path)
data_2011_12 = data_2011_12.loc[~data_2011_12.index.duplicated(keep='first')]
data_2011_12.drop(["Unnamed: 0",'Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2011_12.head()

,G,G.1,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,2,1,3,-1,-1.5,0,-2,-3,5,1,...,1.794974,-0.047619,-3.103175,-4.817571,-35.051587,3.353175,6.943122,-13.376984,8.521164,-8.957602
1,0,2,2,3,0.9,0,-4,-2,6,-2,...,-0.605475,0.293076,-1.515298,-2.346055,-31.719807,3.454106,-11.971014,2.896940,15.470209,4.487500
2,4,3,7,3,0.0,0,0,3,-3,-3,...,-0.426667,0.200000,2.313333,-0.314286,-66.340000,-2.526667,2.533333,-8.940000,-0.786667,8.368750
3,1,4,5,7,1.5,0,-5,4,1,-9,...,0.578042,0.042328,0.009259,2.558547,63.154762,6.104497,14.476190,12.791005,15.167989,8.593567
4,5,1,6,-2,3.0,0,5,3,-8,2,...,-0.400000,-0.080000,-15.400000,0.340000,-96.560000,-4.000000,-5.920000,-19.640000,-9.560000,-3.888971

:## **`MATCHUP DATA REGULAR SEASON 2012_13 `**

In [33]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2012_13_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2012_13=pd.read_csv(path)
data_2012_13.drop(["Unnamed: 0",'Visitor','Home',],axis = 1, inplace  = True)
data_2012_13 = data_2012_13.loc[~data_2012_13.index.duplicated(keep='first')]
data_2012_13.head()

,G,G.1,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,1,3,4,8,-0.6,0,-2,4,-2,-6,...,0.327273,-0.018182,-6.960606,-0.147845,-40.718182,1.757576,2.818182,-10.772727,1.360606,-2.846196
1,3,4,7,-3,0.2,0,-1,-4,5,3,...,-0.157143,-0.061905,10.895238,-5.614815,39.623810,2.240476,5.033333,7.728571,-1.811905,0.650588
2,1,5,6,-4,-0.9,0,4,-2,-2,6,...,-0.418487,0.057143,2.966387,2.427273,-14.328571,1.263025,-1.218487,3.472269,2.100000,1.248325
3,5,2,7,-7,0.3,0,9,-9,0,18,...,-0.935345,0.081897,-8.107759,3.836905,-97.262931,1.191092,-31.284483,-11.732759,-8.500000,-13.326136
4,2,4,6,14,-1.1,0,-10,6,4,-16,...,-0.571429,-0.002646,-0.649471,-0.768915,-19.989418,5.223545,8.914021,-3.324074,-0.354497,-7.533437

## **`MATCHUP DATA REGULAR SEASON 2013_14 `**

In [34]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2013_14_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2013_14=pd.read_csv(path)
data_2013_14.drop(["Unnamed: 0",'Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2013_14 = data_2013_14.loc[~data_2013_14.index.duplicated(keep='first')]
data_2013_14.head()

,G,G.1,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,2,1,3,12,0.1,0,-12,11,1,-23,...,1.265046,-0.021991,10.597222,-0.159379,139.075231,11.600694,17.768519,12.209491,17.289352,5.176645
1,0,2,2,-13,2.1,0,8,-8,0,16,...,-0.090909,0.030303,1.212121,-0.919153,-4.242424,6.454545,-26.363636,-1.272727,-5.575758,0.657143
2,4,3,7,-19,-0.3,0,15,-11,-4,26,...,1.048321,-0.158067,-10.251433,-0.684966,-81.659296,-4.797707,6.614251,-10.706798,-9.156429,5.973551
3,1,4,5,-28,1.1,0,33,-31,-2,64,...,1.005128,0.179487,30.351282,6.471754,186.312821,9.656410,16.389744,27.264103,21.961538,-5.736667
4,5,1,6,-16,0.1,0,10,-8,-2,18,...,0.189394,0.163420,-17.343074,0.255357,-128.235931,-5.173160,-14.808442,-22.168831,-10.569264,6.245989

## **`MATCHUP DATA REGULAR SEASON 2014_15 `**

In [35]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2014_15_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2014_15=pd.read_csv(path)
data_2014_15.drop(["Unnamed: 0",'Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2014_15 = data_2014_15.loc[~data_2014_15.index.duplicated(keep='first')]
data_2014_15.head()

,G,G.1,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,1,2,3,7,0.3,0,-8,4,4,-12,...,1.845455,-0.142424,3.281818,-0.072768,73.275758,9.872727,19.700000,4.306061,11.833333,16.638235
1,4,2,6,-7,1.2,0,3,-1,-2,4,...,0.250958,-0.084291,22.030651,3.352906,157.381226,-1.686782,4.268199,11.984674,16.056513,-3.412381
2,4,0,4,5,0.0,0,0,6,-6,-6,...,-0.246606,-0.228507,-21.332579,-1.066900,-221.346154,-0.395928,-44.463801,-19.350679,-18.579186,2.961765
3,4,3,7,-25,0.7,0,20,-22,2,42,...,0.034056,0.021672,5.568111,-0.529648,76.688854,9.596184,-17.091331,10.426868,0.577107,2.117391
4,6,2,8,-16,-1.2,0,19,-24,5,43,...,0.312600,0.254386,10.935407,1.349728,96.212121,0.855662,7.772727,5.599681,14.063796,-4.434799

## **`MATCHUP DATA REGULAR SEASON 2015_16 `**

In [36]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2015_16_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2015_16=pd.read_csv(path)
data_2015_16.drop(["Unnamed: 0",'Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2015_16 = data_2015_16.loc[~data_2015_16.index.duplicated(keep='first')]
data_2015_16.head()

,G,G.1,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,5,1,6,2,1.2,0,-4,-2,6,-2,...,-0.271242,-0.299020,1.359477,-2.883482,41.882353,-5.549020,-2.133987,-1.589869,7.666667,-5.193074
1,3,2,5,4,1.0,0,-1,1,0,-2,...,0.054054,-0.213213,19.005005,1.507407,241.850851,18.045045,42.607608,21.342342,22.248248,12.862500
2,5,1,6,3,0.8,0,-2,2,0,-4,...,0.900000,-0.033333,-4.466667,0.451429,2.400000,8.833333,-26.966667,-2.066667,-2.633333,7.151515
3,3,1,4,-9,0.6,0,9,-4,-5,13,...,0.184302,0.108721,4.111628,-0.029604,41.045349,4.530233,-0.979070,4.664535,5.208140,0.411039
4,6,2,8,8,-2.0,0,-7,8,-1,-15,...,-0.709677,0.032258,-6.225806,-1.949785,-1.032258,-1.645161,-2.064516,-10.806452,0.774194,6.549474

## **`MATCHUP DATA REGULAR SEASON 2016_17 `**

In [38]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2016_17_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2016_17=pd.read_csv(path)
data_2016_17.drop(["Unnamed: 0",'Date','Att.','Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2016_17 = data_2016_17.loc[~data_2016_17.index.duplicated(keep='first')]
data_2016_17.head()

,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,PTS%,GF,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,7,7,-1.4,0,-4,6,-2,-10,-0.061,-7,...,0.161290,-0.004779,-17.727599,2.474194,-123.132616,-8.757467,10.859020,-4.169654,-13.855436,0.091667
1,11,7,1.6,0,-2,7,-5,-9,-0.055,-21,...,-0.166667,0.233333,-5.300000,0.855172,-5.800000,-6.100000,-17.433333,4.333333,-1.800000,7.308497
2,9,1,-2.6,0,-4,-1,5,-3,-0.019,44,...,1.555556,-0.150000,18.783333,2.167143,136.344444,1.311111,5.811111,13.294444,16.255556,-9.832826
3,3,11,-0.5,0,-7,6,1,-13,-0.080,-20,...,0.592593,0.022222,12.788889,-1.790741,90.000000,-5.244444,34.837037,16.603704,7.822222,7.905263
4,5,-19,2.4,0,14,-11,-3,25,0.152,24,...,-0.846617,0.045865,-6.460902,2.122481,-55.521053,-0.107519,-4.433083,-3.646617,-5.629323,12.465870

## **`MATCHUP DATA REGULAR SEASON 2017_18 `**

In [39]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2017_18_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2017_18=pd.read_csv(path)
data_2017_18.drop(["Unnamed: 0",'Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2017_18 = data_2017_18.loc[~data_2017_18.index.duplicated(keep='first')]
data_2017_18.head()

,G,G.1,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,0,3,3,-3,1.6,0,1,-5,4,6,...,0.935484,-0.258065,0.580645,-0.786452,-2.290323,-5.645161,-16.000000,3.290323,1.193548,4.075362
1,5,4,9,7,0.8,0,-3,3,0,-6,...,-2.021505,-0.027957,-1.831183,-4.127141,28.653763,4.406452,0.164516,-0.067742,-1.195699,4.133889
2,5,3,8,3,-1.4,0,-3,-1,4,-2,...,0.080688,-0.190476,-6.109788,-1.572354,-31.256614,-7.219577,8.531746,-3.205026,-9.789683,3.605000
3,7,2,9,5,1.5,0,-3,6,-3,-9,...,-0.966667,-0.152381,-6.426190,0.253571,-52.726190,-7.485714,-10.992857,-5.007143,-2.628571,-4.446111
4,4,5,9,20,-2.2,0,-15,16,-1,-31,...,0.406250,-0.207770,9.670608,-0.940476,106.485642,3.738176,9.761824,8.365709,18.904561,5.377117

## **`MATCHUP DATA REGULAR SEASON 2018_19 `**

In [40]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2018_19_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE_2.csv'
data_2018_19=pd.read_csv(path)
data_2018_19.drop(["Unnamed: 0",'Att.','Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2018_19 = data_2018_19.loc[~data_2018_19.index.duplicated(keep='first')]
data_2018_19.head()

,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,PTS%,GF,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,7,18,-1.9,0,-11,10,1,-21,-0.128,-93,...,-2.652991,-0.152137,-53.687179,-2.927111,-395.903419,-14.845299,-18.338462,-38.184615,-39.830769,-6.471158
1,5,7,0.4,0,-2,2,0,-4,-0.025,-40,...,-1.526055,-0.069479,-15.037221,0.244293,-153.830025,-5.065757,16.410670,-22.502481,-9.131514,-1.592231
2,7,-20,0.8,0,15,-11,-4,26,0.158,70,...,1.397018,0.416589,25.829450,0.602143,175.934762,2.296365,-6.111836,20.889096,11.806151,1.712030
3,7,-2,-0.1,0,1,-2,1,3,0.018,-17,...,-0.318087,0.116424,-23.413721,-2.029121,-277.209979,-19.083160,-21.797297,-16.752599,-34.117464,10.300000
4,4,-25,2.1,0,16,-15,-1,31,0.189,36,...,0.484797,0.114020,-11.848818,1.622321,-106.250845,-2.965372,1.796453,-6.613176,-14.853041,-2.833333

## **`MATCHUP DATA REGULAR SEASON 2019_20 `**

In [41]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2019_20_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2019_20=pd.read_csv(path)
data_2019_20.drop(["Unnamed: 0","Date",'Att.','Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2019_20 = data_2019_20.loc[~data_2019_20.index.duplicated(keep='first')]
data_2019_20.head()

,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,PTS%,GF,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,5,9,-0.5,-2,-1,2,-3,-5,-0.020,1,...,0.150167,0.075640,6.531702,1.576382,26.790879,3.194661,-4.361513,12.560623,-1.160178,-0.367222
1,5,3,0.6,-2,-1,1,-2,-4,-0.010,13,...,-0.180406,0.033453,11.413381,-1.727778,75.535245,7.996416,16.103943,6.869773,16.082437,-5.791176
2,8,18,0.9,1,-11,9,3,-19,-0.142,-47,...,-1.149877,0.284193,-11.000819,-3.626945,-62.381654,1.555283,17.486486,-4.832924,0.511876,3.560526
3,5,22,0.3,-1,-10,12,-3,-23,-0.156,-44,...,-0.688235,-0.127451,-19.839216,-2.181818,-94.645098,-4.303922,-16.856863,-15.158824,-12.743137,-12.328070
4,3,-5,0.4,-1,4,-4,-1,7,0.057,8,...,1.594286,-0.154286,28.628571,-2.334286,230.960000,11.377143,9.520000,21.354286,25.325714,-0.205000

In [42]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2020_21_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2020_21=pd.read_csv(path)
data_2020_21.drop(["Unnamed: 0","Date",'Att.','Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2020_21 = data_2020_21.loc[~data_2020_21.index.duplicated(keep='first')]
data_2020_21.head()

,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,PTS%,GF,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,5,12,1.5,0,-12,7,5,-19,-0.169,-30,...,-0.233333,0.200000,-1.276190,2.831303,84.480952,5.990476,15.442857,8.185714,4.219048,5.800327
1,8,13,-1.0,0,-12,10,2,-22,-0.197,-35,...,-1.692857,0.135714,-13.207143,-0.449026,-117.707143,-5.607143,-20.342857,-6.321429,-9.657143,4.252632
2,9,-12,0.6,0,12,-7,-5,19,0.170,33,...,0.184659,0.187500,1.352273,3.208495,13.923295,0.477273,4.716856,-3.510417,5.744318,-5.010000
3,6,12,-1.4,0,-12,8,4,-20,-0.179,-21,...,-0.495798,-0.025210,-12.340336,0.702694,-99.552521,-0.212185,-12.401261,-13.640756,-6.714286,-0.424370
4,9,12,-0.1,0,-11,7,4,-18,-0.161,-28,...,0.039707,0.089864,7.111808,-1.709606,70.025078,2.131661,24.261233,5.814002,11.231975,1.590074

In [14]:
final=pd.concat([data_2011_12,data_2012_13,data_2013_14,data_2014_15,data_2015_16,data_2016_17,data_2017_18,data_2018_19,data_2019_20,data_2020_21],axis=0)

In [18]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    #df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    
    return df[indices_to_keep].astype(np.float64)

In [19]:
final=clean_dataset(final)

In [ ]:
final.shape

In [20]:
x_train=final.drop(['Total_goal','G.1','G','G.1.1',], axis =1)
#x_train=x_train.astype(float)

y_train=final['Total_goal']

In [43]:
path=r'/content/drive/MyDrive/data collection/FINAL MODEL FEEDING DATASET (V - H) direct difference/FINAL_2021_22_MODEL_FEEDING_DATASET_ATTEMPTED_BY_DIFFERENCE.csv'
data_2021_22=pd.read_csv(path)
data_2021_22.drop(["Unnamed: 0",'Visitor','Home','E+/-'],axis = 1, inplace  = True)
data_2021_22 = data_2020_21.loc[~data_2020_21.index.duplicated(keep='first')]
data_2021_22.head()

,Total_goal,Rk,AvAge,GP,W,L,OL,PTS,PTS%,GF,...,PP.2,Assist-SH,S.1,S%.1,TOI,BLK,HIT,FOW,FOL,FO%
0,5,12,1.5,0,-12,7,5,-19,-0.169,-30,...,-0.233333,0.200000,-1.276190,2.831303,84.480952,5.990476,15.442857,8.185714,4.219048,5.800327
1,8,13,-1.0,0,-12,10,2,-22,-0.197,-35,...,-1.692857,0.135714,-13.207143,-0.449026,-117.707143,-5.607143,-20.342857,-6.321429,-9.657143,4.252632
2,9,-12,0.6,0,12,-7,-5,19,0.170,33,...,0.184659,0.187500,1.352273,3.208495,13.923295,0.477273,4.716856,-3.510417,5.744318,-5.010000
3,6,12,-1.4,0,-12,8,4,-20,-0.179,-21,...,-0.495798,-0.025210,-12.340336,0.702694,-99.552521,-0.212185,-12.401261,-13.640756,-6.714286,-0.424370
4,9,12,-0.1,0,-11,7,4,-18,-0.161,-28,...,0.039707,0.089864,7.111808,-1.709606,70.025078,2.131661,24.261233,5.814002,11.231975,1.590074

In [22]:
x_test=data_2020_21.drop(['Total_goal','G'], axis =1)
y_test=data_2020_21['Total_goal']

In [ ]:
x_train=x_train.astype(np.float64)

In [23]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
# y_train = y_train.to_numpy() 
# y_train.reshape(-1, 1)
#y_train = scaler.fit_transform(y_train)
x_train[0]

array([-7.98015713e-02, -1.03392365e+00,  0.00000000e+00, -1.92541145e-01,
       -3.10857795e-01,  1.18480581e+00,  5.07922640e-02,  4.76705391e-02,
        2.27677774e-04,  7.90053416e-01, -1.65981345e+00,  1.25151773e+00,
       -5.66288281e-01,  1.48654907e+00,  2.21565996e-04,  7.31524528e-01,
        2.10843745e+00,  3.11844021e+00,  6.62444076e-01,  1.32854863e+00,
        1.71880829e+00, -3.90842646e-01, -5.06428626e-01,  2.11165353e+00,
        1.17308834e+00,  2.36729513e+00, -5.59675149e-02,  1.83633859e-04,
       -5.18678766e-01, -1.28498857e+00, -5.41267658e-01,  1.92403226e+00,
       -1.28116299e-02, -2.29601251e-01, -6.73057787e-01, -2.26072845e-01,
       -3.01550457e-01,  6.68426575e-01, -6.80726529e-01, -3.94661156e-01,
       -1.03682148e-01,  7.55402003e-01,  2.20690694e-01, -6.42287515e-01,
       -2.89714092e-01, -1.98044998e-01,  1.98039208e-01, -1.21049998e-02,
        2.13132842e-01, -2.33616514e-01,  4.42234237e-01, -7.36007727e-01,
       -1.34623094e-02, -2.48009713e-01,  1.47600472e-01,  5.03176421e-02,
       -8.94001069e-01,  7.83277769e-01, -4.63630032e-01, -6.90308852e-01,
        1.77211498e+00, -6.11318567e-01,  3.06142323e-01, -5.89977052e-01,
        2.02850493e+00, -3.07854771e-01, -1.99635023e-01, -2.31190085e+00,
       -2.95890881e-01,  4.37643867e-01,  4.11354292e-01, -8.55071538e-01,
        6.56159449e-01, -1.35165097e+00])

## **LINEAR REGRESSION**

In [24]:
reg = LinearRegression()
#x_train.fillna(1)
#x_train.replace([np.inf, -np.inf], np.nan, inplace=True)
reg.fit(x_train,y_train)
r2_score = reg.score(x_test,y_test)
print(r2_score*100,'%')

-5.944835132313288e+28 %

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

### RANDOM FOREST REGRESSOR

In [25]:
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics

rf = RandomForestRegressor(n_estimators = 300, max_features = 'sqrt', max_depth = 5, random_state = 18).fit(x_train, y_train)
rf.fit(x_train, y_train) 
y_pred = rf.predict(x_test)
rmse = metrics.mean_squared_error(y_test,y_pred)
rmse

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

5.353798317754215

## **SUPPORT VECTOR CLASSIFIER**

In [27]:
from sklearn.svm import SVC 
clf = SVC(kernel='linear')
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
pred = clf.predict(x_test)
metrics.accuracy_score(y_test,y_pred=pred)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but SVC was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

0.18548387096774194

**DECISION TREE REGRESSOR**

In [30]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)
score =regressor.score(x_train, y_train)
print("R-squared:", score)

R-squared: 0.6600004063564884

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"